.StudentWrapper {
  position: relative;
  display: flex;
  padding: 1rem;
  background-color: #f8f8f8;
  border-radius: 1rem;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    cursor: pointer;
  }
}

.Student {
  display: flex;
  align-items: center;

  &Icon {
    font-size: 2rem;
    fill: #818e94;
    margin-right: 0.5rem;
  }
}

.Label {
  color: #818e94;
  text-transform: uppercase;
  padding-right: 0.5rem;
}

.Value {
  padding-right: 1rem;
}

.EditIcon {
  margin-right: 1rem;
  padding: 1rem;
}
