.Body {
  display: flex;
  align-items: center;
  line-height: 1.75rem;
  height: 4rem;
  color: #566166;
  padding: 1rem;
}

.Footer {
  padding: 0.8125rem 1.2rem;
  text-align: right;
}

.CancelButton {
  margin-right: 1rem;  
}

  